<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Post</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <!--Icon-->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <!--Core Css File-->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <!--CSS File-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/creator.css">
</head>
<body>
    <!--Aside start-->
    <aside>
        <div class="nav-close"></div>
        <div class="sidebar-head">
            <div class="logo-content">
                <img src="/assets/img/favicon.png" alt="">
                <h4 class="mb-0">M<span><span>O</span>O</span>N</h4>
            </div>
            <i class="fa-solid fa-angle-right" id="back-btn"></i>
        </div>
            <ul class="nav-list p-0">
                <li class="sidebar-item" >
                    <a href="/dashboard.html" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-home"></i>
                            <span class="sidebar-link-text">Dashboard</span>
                        </div>
                </a>
                </li>
                <li class="sidebar-item">
                    <a href="/views/dashboard/add-post.html" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-file-circle-plus"></i>
                            <span class="sidebar-link-text">Create Post</span>
                        </div>
                    </a>
                </li>
                <li  class="sidebar-item">
                    <a href="/views/dashboard/add-category.html" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-list-ul"></i>
                            <span class="sidebar-link-text">Create Category</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-comments"></i>
                            <span class="sidebar-link-text">Comments</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-user-plus"></i>
                            <span class="sidebar-link-text">New User Request</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-users"></i>
                            <span class="sidebar-link-text">All Users</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <div class="link-items">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span class="sidebar-link-text">User Report</span>
                        </div>
                    </a>
                </li>
                
            </ul>
        <div class="sidenav-footer">
            <ul class="sidebar-nav p-0">
                <li class="sidebar-item">
                    <a href="/views/dashboard/login.html" class="sidebar-link">
                        <div class="link-items">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                <span class="sidebar-link-text">Logout</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!--Aside end-->
    <!--Main content-->
    <main>
        <!--Navbar start-->
        <div class="nav">
            <div class="burger-nav">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <div class="burger-mobile" onclick="change()">
                <div class="line4"></div>
                <div class="line5"></div>
                <div class="line6"></div>
            </div>
            <div class="navitem-box">
                <div class="search-box">
                    <div class="form-groups">
                        <form action="">
                            <input type="search" class="form-controls" placeholder="Search">
                        </form>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="noti-group">
                    <div class="noti-bell">
                        <i class="fas fa-bell"></i>
                    </div>
                    <div class="noti-status"></div>
                </div>
                <div class="profile-group" id="dropbox-btn">
                        <div class="profile">
                            <div class="profile-name">
                                <p class="mb-0">Lucien</p>
                                <span class="text-black-50">Admin</span>
                            </div>
                            <img src="/assets/img/user/Upstream-1.png" class="user-profile" alt="">
                        </div>
                    <div class="active-status">
                        <div class="online"></div>
                        <!-- <div class="offline"></div> -->
                    </div>
                    <div class="profile-dropbox">
                        <ul class="dropbox-list p-0">
                            <li class="drop-list-item">
                                <a href="/views/dashboard/profile.html">
                                    <i class="fas fa-user"></i>
                                    <span class="ms-3">Profile</span>
                                </a>
                            </li>
                            <li class="drop-list-item">
                                <a href="/views/dashboard/login.html">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                <span class="ms-3">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <!--Navbar end-->
        <!--Content section-->
        <section class="post-create-container">
            <div class="post-create-content">
                <div class="breadcrumb-nav">
                   <h5 class="back-route"><a href="/dashboard.html">Dashboard</a></h5>
                   <i class="fas fa-chevron-right"></i>
                   <h5 class="back-route"><a href="/views/dashboard/add-post.html">Create Post</a></h5>
                   <i class="fas fa-chevron-right"></i>
                   <h5 class="current-route">Detail Post</h5>
                </div>   
                <div class="article-content">
                    <div class="article-card">
                        <div class="article-wrapper">
                            <div class="article-owner">
                                <div class="article-owner-item">
                                    <img src="/assets/img/user/Teamwork-4.png" alt="">
                                    <div class="article-owner-name">
                                        <p><a href="">Hailey</a></p>
                                        <small class="article-category"><a href="">News</a></small>
                                        <small class="article-created">4 mins ago</small>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button class="btn dot-btn" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <i class="fas fa-ellipsis-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Profile</a></li>
                                      <li><a class="dropdown-item" href="#">Edit</a></li>
                                      <li><a class="dropdown-item" href="#">Delete</a></li>
                                      <li class="dropdown-item">
                                        <div class="btn-group">
                                        <button class="btn report-btn" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                            Report
                                        </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Spam</a></li>
                                              <li><a class="dropdown-item" href="#">Harassment</a></li>
                                              <li><a class="dropdown-item" href="">False Information</a></li>
                                            </ul>
                                          </div>
                                        </li>
                                    </ul>
                                  </div>
                            </div>
                            <div class="article-detail-wrapper">
                                <div class="article-detail-item">
                                    <h3>Hello Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                                    <img src="/assets/img/posts/post1.jpeg" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi suscipit distinctio beatae molestiae? Laudantium veritatis tenetur inventore recusandae quasi esse Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quisquam natus sed laboriosam dolores possimus corrupti ad, aliquid impedit itaque voluptatem, ipsum numquam, assumenda temporibus corporis doloremque asperiores perspiciatis ut fuga? Accusamus doloribus odit, consectetur aperiam tempora ipsam, laudantium deleniti dolorem, amet rerum corrupti nam! Excepturi rerum blanditiis dolorum nihil?</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi suscipit distinctio beatae molestiae? Laudantium veritatis tenetur inventore recusandae quasi esse Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quisquam natus sed laboriosam dolores possimus corrupti ad, aliquid impedit itaque voluptatem, ipsum numquam, assumenda temporibus corporis doloremque asperiores perspiciatis ut fuga? Accusamus doloribus odit, consectetur aperiam tempora ipsam, laudantium deleniti dolorem, amet rerum corrupti nam! Excepturi rerum blanditiis dolorum nihil?</p>
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                        <div class="carousel-indicators">
                                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img src="/assets/img/posts/post1.jpeg" class="d-block" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="/assets/img/posts/f68acc1ec6b3067888ad0f6c52ef275d.jpeg" class="d-block" alt="...">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="/assets/img/posts/f68acc1ec6b3067888ad0f6c52ef275d.jpeg" class="d-block" alt="...">
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi suscipit distinctio beatae molestiae? Laudantium veritatis tenetur inventore recusandae quasi esse Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quisquam natus sed laboriosam dolores possimus corrupti ad, aliquid impedit itaque voluptatem, ipsum numquam, assumenda temporibus corporis doloremque asperiores perspiciatis ut fuga? Accusamus doloribus odit, consectetur aperiam tempora ipsam, laudantium deleniti dolorem, amet rerum corrupti nam! Excepturi rerum blanditiis dolorum nihil?</p>
                                </div>
                                <div class="article-detail-controller">
                                    <div class="reaction-controller">
                                        <div class="reaction">
                                            <a href="">                            
                                                <i class="bi bi-heart-fill"></i>
                                            </a>
                                                <span onclick="viewerBtn(1)" class="reaction-count">30</span>
                                        </div>
                                        <div class="comment" id="commentBtn1" onclick="commentBtn(1)">
                                            <i class="bi bi-chat-right-quote-fill"></i>   
                                            <span class="message-count">5</span>                     
                                        </div>
                                    </div>
                                    <div class="article-controller-item">
                                        <a href="" class="left-control"><i class="bi bi-arrow-left-circle"></i></a>
                                        <a href="/index.html" class="read-all">Read all</a>
                                        <a href="" class="right-control"><i class="bi bi-arrow-right-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Content section-->
    </main>
     <!--Main content-->
     <!--Comment-aside-->
     <div class="comment-asidenav">
        <div class="comment-aside-close"></div>
            <div class="comment-header">
                <h3>Comments(5)</h3>
                <button class="close-com-btn"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="comment-card">
                <div class="comment-owner">
                    <img src="/assets/img/user/Upstream-1.png" alt="">
                    <span>Lucien</span>
                </div>
                <form action="" class="comment-box">
                    <textarea name="" id="" class="form-control comment-input" placeholder="what are your thoughts?" cols="30" rows="5"></textarea>
                    <button>Response</button>
                </form>
            </div>
        <ul class="comment-lists">
            <li class="comment-item">
                <div class="user-item-group">
                    <img src="/assets/img/user/Teamwork-7.png" alt="">
                    <div class="user-name">
                        <a href=""><p>Luke</p></a>
                        <span>4 mins ago</span>
                    </div>
                </div>
                <p class="comment-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quam enim totam iure repudiandae corporis iusto qui quae! Non, vero.</p>
                <div class="comment-controller">
                    <span></span>
                    <span class="reply-btn">reply</span>
                </div>
                <div class="divider-line"></div>
            </li>
            <li class="comment-item">
                <div class="user-item-group">
                    <img src="/assets/img/user/Teamwork-7.png" alt="">
                    <div class="user-name">
                        <a href=""><p>Luke</p></a>
                        <span>4 mins ago</span>
                    </div>
                </div>
                <p class="comment-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quam enim totam iure repudiandae corporis iusto qui quae! Non, vero.</p>
                <div class="divider-line"></div>
            </li>
            <li class="comment-item">
                <div class="user-item-group">
                    <img src="/assets/img/user/Teamwork-7.png" alt="">
                    <div class="user-name">
                        <a href=""><p>Luke</p></a>
                        <span>4 mins ago</span>
                    </div>
                </div>
                <p class="comment-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quam enim totam iure repudiandae corporis iusto qui quae! Non, vero.</p>
                <div class="divider-line"></div>
            </li>
        </ul>
    </div>  
     <!--Reaction viewers-->
     <div class="reaction-viewers" id="viewers1">
        <div class="reaction-viewers-close" id="viewerClose1" onclick="closeReaction(1)"></div>
        <div class="reaction-viewers-wrapper">
            <div class="reaction-viewer-title">
                <p>You got <span>30</span> loves for <span>"Hello Lorem ipsum dolor sit amet..."</span> </p>
                <button onclick="closeReaction(1)"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="reaction-viewers-lists">
                <div class="reaction-viewers-item">
                    <div class="reaction-viewer-name">
                        <img src="/assets/img/user/Teamwork-8.png" alt="">
                        <span><a href="">Vincent</a></span>
                    </div>
                    <button class="reactor-follower"><a href="">Follow</a></button>
                </div>
                <div class="reaction-viewers-item">
                    <div class="reaction-viewer-name">
                        <img src="/assets/img/user/Teamwork-8.png" alt="">
                        <span><a href="">Vincent</a></span>
                    </div>
                    <button class="reactor-follower"><a href="">Follow</a></button>
                </div>
            </div>
        </div>  
    </div>
    <!--Noti-bar-->
    <nav class="noti-nav">
        <div class="noti-close"></div>
        <ul class="noti-list">
            <li class="noti-wrapper">
                <a href="" class="noti-link">
                    <div class="noti-item">
                        <img src="/assets/img/user/Teamwork-7.png" alt="">
                        <div class="noti-title">
                            <h3>Thomas</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis mole ...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="noti-wrapper">
                <a href="" class="noti-link">
                    <div class="noti-item">
                        <img src="/assets/img/user/Teamwork-3.png" alt="">
                        <div class="noti-title">
                            <h3>Andrea</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis mole ...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="noti-wrapper">
                <a href="" class="noti-link">
                    <div class="noti-item">
                        <img src="/assets/img/user/Teamwork-4.png" alt="">
                        <div class="noti-title">
                            <h3>Taylor</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis mole ...</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <!--Noti-bar end-->
    <!--Core Js File-->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/sidebar.js"></script>
</body>
</html>