.post-create-container,
.category-list-container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.4rem;
  }
  .breadcrumb-nav{
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 1.3rem;
    text-align: center;
  }
  .back-route a{
    color: var(--offline-color);
    margin-bottom: 0;
  }
  .current-route,
  .back-route{
    margin-bottom: 0;
    padding: 0 2rem;
    font-size: 1.4rem;
  }
  .current-route{
    color: #001e6c;
    font-weight: 600;
  }
  .post-create-card{
    padding: 2.5rem;
    margin-top: 1.4rem;
    background-color: var(--light-color);
    border-radius: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  .post-create-card .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
  }
  .post-create-card .header h4{
    margin-bottom: 0;
  }
  .post-create-card .header button{
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: var(--offline-color);
    transition: 0.4s;
  }
  .post-create-card .header button:hover{
    background-color: #002595;
  }
  .post-create-card .header button a{
    color: var(--light-color);
  }
  .post-create-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .post-create-item{
    flex: 1 0 40rem;
    padding: 2rem;
  }
  .post-create-item label{
    font-size: 1.6rem;
  }
  .post-create-item .form-control{
    line-height: 2.5;
    border-radius: 0.8rem;
    background-color: #f9f9f9;
    font-size: 1.4rem;
    outline: none;
  }
  .post-create-item button{
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: var(--offline-color);
    transition: 0.4s;
    color: var(--light-color);
    font-size: 1.3rem;
    transition: 0.4s;
  }
  .post-create-item button:hover{
    transform: scale(1.03);
    background-color: var(--paragraph-color);
    color: var(--light-color);
  }
  .post-create-submit{
    padding-bottom:0;
  }
  /*Post detail page*/
  .post-detail-tab{
    padding: 0;
    background-color: transparent;
  }
  .report-btn{
    font-size: 1.4rem;
    padding: 1.2rem;
    color: var(--offline-color);
    text-decoration: none;
    outline: none;
  }
  .report-btn:hover{
    color: var(--like-color);
    outline: none;
  }

  /*Category Create page*/
  .category-list-content{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    border-radius: 1.3rem;
    background-color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  input[type="color"]{
    width: 5rem;
  }
  .category-chart,
  .category-table{
    flex: 1 0 40rem;
  }
  .category-doughnut{
    width: 35rem;
    margin: auto;
  }
.category-header{
    padding: 2rem;
}
tr th{
  text-align: center;
}
tr{
    font-size: 1.4rem;
    text-align: center;
}
tbody tr{
    vertical-align: middle;
}
tbody tr>td:last-child{
  white-space: nowrap;
}
.post-create-card-body{
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 2rem 0;
}
.post-create-card-body::-webkit-scrollbar{
  display: none;
}
.feature_img{
  width: 10rem;
}
.icon-action a,
.icon-action form>button{
  width: 5rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
}
.action{
  white-space: nowrap;
}
.action a,
.action form>button{
  width: auto;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
}
.article{
  text-align: left;
}
/*All Users page*/
.user_profile_img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
  /*Responsive*/
  @media screen and (max-width:1024px){
    .category-list-content{
      flex-direction: column-reverse;
  }
  }
  @media screen and (max-width:844px)
  {
   /*Post detail page*/
   .post-detail-tab{
    padding-top: 2rem ;
  } 
  }
  @media screen and (max-width:450px)
  {
    /*Create post page*/
    .post-create-item{
        flex: 1 0 20rem;
    }
    /*Post detail page*/
    .post-detail-tab{
      padding-top: 2rem ;
    }
    /*Category page*/
    .category-list-content{
        flex-direction: column-reverse;
    }
    .category-doughnut{
        width: 100%;
    }
    .breadcrumb-nav{
      padding: 2rem 0.1rem;
    }
  }
  @media screen and (max-width:280px)
  {
    .breadcrumb-nav{
      white-space: pre-wrap;
    word-break: break-word;
    }
    .back-route{
      padding: 0 1rem;
    }
  }