@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Padauk:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-body : #fafafafb;
    --light-color : #fff;
    --text-color : #383838;
    --grey-color : #f8f8f8;
    --online-color : #59CE8F;
    --offline-color : #4c4c4c;
}
@font-face{
    font-family: Grande-Foyage ;
    src: url("/assets/font/GrandeFoyage.ttf");
}

body{
    font-family: 'Montserrat','Roboto','Padauk','sans-serif';
    background-color: var(--main-body);
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

/*aside start*/
aside{
    position: fixed;
    width: 28rem;
    height: 100%;
    background-color: var(--light-color);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
aside.shrink{
    width: 8rem;
}
.sidebar-head{
    padding: 2.3rem 1.8rem;
    margin-bottom: 1rem;
}
.sidenav-head{
    display: flex;
    align-items: center;
    user-select: none;
}
.sidenav-head img{
    width: 5rem;
    height: 5rem;
}
.sidenav-head h4{
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: var(--text-color);
    font-family: Grande-Foyage;
    font-weight: 600;
    letter-spacing: 0.4rem;
}
ul li{
    list-style: none;
    width: 100%;
}
.link-items{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1.5rem 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
}
.link-items i{
    padding: 1rem;
    color: var(--text-color);
}
.sidebar-link-text{
    margin-left: 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
    white-space: nowrap;
}
.sidebar-item :hover{
    background-color: #2C3333;
    transition: 0.2s;
}
.sidebar-item:hover .sidebar-link-text,
.sidebar-item:hover i{
    color: var(--light-color);
}
.sidenav-footer{
margin-block-start: auto;
}
/*aside end*/
/* main start*/

main{
    width: calc(100% - 28rem);
    position: absolute;
    left: 28rem;
    transition: 0.5s;
    padding:0 0.8rem ;
}
main.expand{
    width: calc(100% - 9rem);
    left: 9rem ;
}
/* Nav start */
.nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 0.8rem;
    margin-top: 0.6rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding: 1rem 2rem;
    transition: 0.5s;
}
.burger-nav{
    cursor: pointer;
}
.burger-mobile{
    cursor: pointer;
    display: none;
}
.line1,.line2{
    width: 3rem;
    height: 0.3rem;
    margin: 0.5rem;
    background-color: var(--text-color);
    pointer-events: none;
    border-radius: 8px;
    transition: 0.5s all;
}
.line3{
    width: 2rem;
    height: 0.3rem;
    margin: 0.5rem;
    background-color: var(--text-color);
    pointer-events: none;
    border-radius: 8px;
    transition: 0.5s all;
}
.burger-nav:hover .line1{
    width: 1.8rem;
}
.burger-nav:hover .line2{
    width: 2.5rem;
}
.burger-nav:hover .line3{
    width: 3rem;
}
.line4,.line5,.line6{
    width: 3rem;
    height: 0.3rem;
    margin: 0.5rem;
    background-color: var(--text-color);
    pointer-events: none;
    border-radius: 8px;
}
.navitem-box{
    display: flex;
    padding: 0 3rem;
}
.form-groups{
    display: inline-block;
    position: relative;
}
.form-groups .form-controls{
    padding: 1rem 0 1rem 3.4rem;
    width: 30rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: var(--grey-color) ;
    outline: none;
    font-size: 1.6rem;
}
.form-groups i{
    position: absolute;
    left: 1.2rem;
    top: 1.5rem;
    font-size: 1.6rem;
    color: #5c5c5c;
}
.profile-group{
    position: relative;
    margin-left: 4rem;
}
.profile{
    display: flex;
}
.profile .profile-name{
    margin-right: 1rem;
}
.profile .profile-name p{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
}
.profile .profile-name span{
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: left;
}
.profile .user-profile{
    max-width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.active-status{
    position: absolute;
    top: 3.4rem;
    right: 0rem;
}
.active-status .online{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--online-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.active-status .offline{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--offline-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/* Nav end */
.content{
    margin-left: 1rem;
    margin-right: 0.8rem;
    margin-top: 2.5rem;
    display: flex;
    flex: 1 1 30rem;
}
.content .quote-container{
    display: flex;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    max-width: 70rem;
    padding: 1.5rem 2.3rem;
    border-radius: 0.8rem;
    line-height: 2.7rem;
}
.text-header{
    font-size: 2rem;
    font-weight: 500;
}
.paragraph{
    font-size: 1.5rem;
    color: var(--offline-color);
}
.quote-container .user-illustrator{
    width: 20rem;
    position: relative;
    top: -4rem;
}
.weather-container{
    width: 100%;
    padding: 1.5rem 2.3rem;
    background-color: var(--light-color);
    /* background-color: #FCF8E8; */
    background-image: url("/assets/img/Weather\ Icons/rain.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 0.8rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.text-container{
    padding: 2rem;
}
.text-container .temp h3,
.text-container .temp span{
    display: inline-block;
    font-size: 3.4rem;
    font-weight: 600;
}
.weather-detail .weather{
    font-size: 1.6rem;
    color: var(--text-color);
}
.weather-detail .location{
    font-size: 2rem;
    color: var(--text-color);
}
.w-detail{
    display: flex;
    margin-top: 0.4rem;
    font-size: 1.4rem;
}
.w-detail .feel-like{
    margin-right: 0.8rem;
}
.w-detail .humidity{
    margin-left: 0.8rem;
}
.weather-illustrator{
    width:10rem;
    position: relative;
    top: -8rem;
    right: 1rem;
}